body {
    background-color: #4E3524;
}

header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 70, 22);
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}
#board{
    display: flex;
    flex-direction: row;
}

#arn-img{
    width: 500px;
}

.dead-gobs {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.arnold {
    display: flex;
    justify-content: center;
}

.gob-stats {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 79px;
    background-color: #4E3524;
    color: rgb(116, 220, 46)

}

.arnold-shtats {
    display: grid;
    width: 500px;
    color: rgb(250, 70, 22);
}

.img-booger {
    width: 50%;
    align-items: center;
    justify-items: center;
}
.goblins{
    display: flex;
}